# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**OBJECTIVES:**<br>

-List popular languages that Data Scientists use.<br>
-List commonly used libraries used by Data Scientists.<br>
-Comment on Data Science tools.<br>

**Some of the popular languages that Data Scientists use are:**<br>
  1: python<br>
  2: R.<br>
  3: SQL.

**Some of the commonly used libraries used by Data Scientists include:**<br>
  1:Pandas<br>
  2:NumPy<br>
  3:SciPy<br>

**Data science tools**<br>
  1:Jupyter Notebook<br>
  2:R Studio<br>
  3:Apache spark<br>

**Below are a few examples of evaluating arithmetic expressions in Python:**

    Addition(+):
        result_addition = 5 + 3
        print(result_addition)  
        Output: 8
        
    Subtraction(-):
        result_subtraction = 10 - 4
        print(result_subtraction)  
        Output: 6

    Multiplication(*):
        result_multiplication = 7 * 6
        print(result_multiplication)  
        Output: 42

    Division(/):
        result_division = 20 / 4
        print(result_division)  
        Output: 5.0

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
minutes=200
hours=minutes/60
print(hours)

3.3333333333333335

**Author:**<br>
Akshay kumar